<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calendario</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style_calendar.css">
    <script src="/static/js/calendar.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Home</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/static/images/apple-touch-icon.png">
    <link rel="stylesheet" href='/static/css/libs/bootstrap.min.css'>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/colors.css">
    <link rel="stylesheet" href="/static/css/versions.css">
    <link rel="stylesheet" href="/static/css/responsive.css">
    <link rel="stylesheet" href="/static/css/animate.css">
    <link rel="stylesheet" href="/static/css/flaticon.css">
    <link rel="stylesheet" href="/static/css/prettyPhoto.css">
    <link rel="stylesheet" href="/static/css/owl.carousel.css">
    <link rel="stylesheet" href="/static/css/font-awesome.css">
    <script src="/static/js/libs/jquery.js"></script>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
</head>
<body onload="info_viajero()">
<header class="header header_style_01">
        <nav class="megamenu navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/static/calendar.html"><img src="/static/images/logos/logo-seo.png" alt="image"></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right menu-top">
                        <li><a class="active" href="index.html">Home</a></li>
                        <li><a href="/static/about.html">About Us </a></li>
                        <li><a href="/static/services.html">Services</a></li>
                        <li><a href="/static/case-study.html">Case Study</a></li>
                        <li><a href="/static/pricing.html">Pricing</a></li>
                        <li><a href="/static/signup.html">Sign Up</a></li>
                        <li><a href="/static/login.html">Log In</a></li>
                        <li><a href="/logout">Log Out</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>


<div class="informacion">

<div id="perfil">
   <table class="table table-striped table-dark">
    <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Usuario</th>
        <th scope="col">Edad</th>
      <th scope="col">Pais</th>

    </tr>
    </thead>
   <tbody id="info_usuario">




  </tbody>
</table>
</div>

<div id="itinerario">
    <table class="table table-dark">
    <thead>
    <tr class="table-dark">
      <th scope="col">Fecha</th>
      <th scope="col">Nombre de experiencia</th>
      <th scope="col">Descripción</th>
        <th scope="col">Calificación</th>

    </tr>
    </thead>
    <tbody id="experiencias">




    </tbody>



    </table>

</div>

    <div id="boton">


    </div>

</div>


</body>
</html>