<!DOCTYPE html>
<html lang="en">
<head>
    <title>Title</title>
    <script src="/static/js/viajeros.js"></script>
    <script src="/static/js/libs/jquery.js"></script>
	<script src="/static/js/libs/bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/17.2.7/css/dx.spa.css" />
     <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/17.2.7/css/dx.common.css" />
     <link rel="dx-theme" data-theme="generic.light" href="https://cdn3.devexpress.com/jslib/17.2.7/css/dx.light.css" />
     <script src="https://cdn3.devexpress.com/jslib/17.2.7/js/dx.all.js"></script>
     <script src="https://unpkg.com/devextreme-aspnet-data@1.3.0"></script>
    <meta charset="UTF-8">


</head>


<body class="dx-viewport" onload="get_viajerosDevExtream()">
     <div class="demo-container">
         <div id="grid"></div>
     </div>
 </body>

</html>